<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <form [formGroup]="registerForm" (ngSubmit)="Register()" class="space-y-6">
        <h5 class="text-xl font-medium text-gray-900 dark:text-white">Registrar</h5>
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            placeholder="example@example.com"
          />
          <div *ngIf="emailValidate" class="text-red-500 text-sm">El correo es obligatorio y debe ser válido.</div>
        </div>
        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="••••••••"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          />
          <div *ngIf="passwordValidate" class="text-red-500 text-sm">La contraseña es obligatoria.</div>
        </div>
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Registrar
        </button>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
          ¿Ya tienes una cuenta? <button (click)="toLogin()" class="text-blue-700 hover:underline dark:text-blue-500">Inicia sesion aqui</button>
        </div>
        <div *ngIf="error" class="text-red-500 text-sm mt-2">{{ errorMessage }}</div>
        <div *ngIf="registerlert" class="text-green-500 text-sm mt-2">{{ successMessage }}</div>
      </form>
    </div>
</div>